<!DOCTYPE html>
<html>
<head>
    <title>Admin Panel</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <div class="container">
        <div class="menu-section">
            <h2>Menu Administrador</h2>
            <ul class="menu">
                <li><a href="/admin/seccion1">Sección 1</a></li>
                <li><a href="/admin/seccion2">Sección 2</a></li>
            </ul>
        </div>
        <div class="content-section">
            {{{body}}}
        </div>
    </div>
</body>
</html>