/* Estilo para la sección */:root {
--primary-color: #2d2d2d;
--secondary-color: #444444;
--light-color: #f5f5f5;
}

.section-container {
background-color: var(--primary-color);
color: var(--light-color);
padding: 2rem;
margin-bottom: 2rem;
}

.section-container h2 {
margin-bottom: 1rem;
color: #7f6f45;
}

.section-container img {
border: 1px solid var(--secondary-color);
}

.section-container p {
margin-top: 0.5rem;
text-align: center;
}

.section-container button {
background-color: #a88547;
border-color: #a88547;
color: #f1e797;
}

.section-container button:hover {
background-color: var(--primary-color);
border-color: var(--primary-color);
color: var(--light-color);
}

.section-container a {
color: button {
background-color: #a88547;
border-color: #a88547;
color: #f1e797;
}
}

.section-container img.details {
filter: drop-shadow(2px 2px 4px #805a2c);
}

.section-container p.details {
color: #dcc87c;
}

.section-container svg.details path {
fill: #daca84;
}

.section-container .image-with-text {
  position: relative;
}

.section-container .image-with-text img {
  width: 100%;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.section-container .image-with-text p {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  opacity: 0;
  padding: 0.5rem;
  transition: opacity 0.3s ease;
}

.section-container .image-with-text:hover img {
  opacity: 0.7;
}

.section-container .image-with-text:hover p {
  opacity: 1;
}

.section-container .image-with-text {
  position: relative;
}

.section-container .image-with-text img {
  width: 100%;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.section-container .image-with-text p {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  opacity: 0;
  padding: 0.5rem;
  transition: opacity 0.3s ease;
}

.section-container .image-with-text:hover img {
  opacity: 0.7;
}

.section-container .image-with-text:hover p {
  opacity: 1;
}
