:root {
  --primary-color: #2d2d2d;
  --secondary-color: #444444;
  --light-color: #f5f5f5;
  --titulos: #7f6f45;
  --enlace:#d0bb71;
}

nav{
    background-color: var(--primary-color);  
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0; 
    display: flex;
}

nav ul li{
    flex-grow:1;
}

nav ul li a{
    color:var(--enlace);
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    text-align: center;
}

nav ul li a:hover {
    background-color:  rgba(0,0,0,0.3);
}

nav ul li a.activo{
    background-color: var(--titulos);
}